#этот файл необходим для того, 
#чтобы при создании образа не был добавлен всякий хлам, 
#а так же данные, которые должны остаться только при нас
__pycache__
*.pyc
*.db
*.sqlite
*.sqlite3
.git
.gitignore
.env
venv/
.venv/
tests/
docs/
.idea/
.vscode/