<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система обучения</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <span class="brand">📚Lazlabs</span>
            <div class="user-info">
                <a class="btn-outline">Выйти</a>
            </div>
        </div>
    </nav>
    <main>gegege</main> <!--Тут будет основная страница потом-->
    <script> </script><!--скрипта нету-->
</body>
</html>